In [19]:
import pandas as pd
from pandas.io import sql
print(pd.__version__)

0.19.2

In [20]:
import django
from django.db import models
print(django.__version__)

1.10.6

In [21]:
import django_pandas
from django_pandas.managers import DataFrameManager
print(django_pandas.__version__)

0.4.1

In [22]:
import tushare as ts
ts.set_token('594bdfb0cf268ba37da92840bc6e47662818ebd5dca20866c59fadaa65cd28d7')
print(ts.__version__)

0.7.4

In [28]:
values = {'code': ['518880', '150299'],
          'name': ['黄金ETF', '煤炭A级'],
          'type': ['ETF', 'FOND']
         }
df = pd.DataFrame(values, columns =['code','name','type'])  
df.set_index('code')
df.columns.name='attrs'
df

attrs    code   name  type
0      518880  黄金ETF   ETF
1      150299   煤炭A级  FOND

In [29]:
import sqlite3 as lite
from sqlalchemy import create_engine

DB_FILE_PATH = "/home/zhxu/PythonProjects/Web/django/web/database/"
DB_FILE_NAME = "db.sqlite3"
TABEL1_NAME = 'Securities'
TABLE2_NAME = 'TransactionData_Day'

In [30]:
# Create your engine.
engine = create_engine('sqlite:///'+DB_FILE_PATH+DB_FILE_NAME)
engine

Engine(sqlite:////home/zhxu/PythonProjects/Web/django/web/database/db.sqlite3)

In [31]:
df.to_sql(TABEL1_NAME, engine, if_exists='replace')

In [33]:
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table(TABEL1_NAME, conn)
data.set_index('code')
data

   index    code   name  type
0      0  518880  黄金ETF   ETF
1      1  150299   煤炭A级  FOND

In [34]:
df = ts.forecast_data(2016, 4)
df.set_index('code')

[Getting data:]#Error reading file 'http://vip.stock.finance.sina.com.cn/q/go.php/vFinanceAnalyze/kind/performance/index.phtml?s_i=&s_a=&s_c=&s_type=&reportdate=2016&quarter=4&p=1&num=60': failed to load external entity "http://vip.stock.finance.sina.com.cn/q/go.php/vFinanceAnalyze/kind/performance/index.phtml?s_i=&s_a=&s_c=&s_type=&reportdate=2016&quarter=4&p=1&num=60"

Empty DataFrame
Columns: [name, type, report_date, pre_eps, range]
Index: []