In [230]:
import pandas as pd
import numpy as np

In [231]:
sdata = {'Ohio':35000, 'Texas':71000, 'Oregon':16000, 'Utah':5000}
obj1 = pd.Series(sdata)
obj1.name = 'population'
obj1.index.name = 'state'
obj1

state
Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
Name: population, dtype: int64

In [232]:
states = {'California', 'Ohio', 'Texas', 'Oregon', 'Utah'}
obj2 = pd.Series(sdata, index=states)
obj2.name = 'population'
obj2.index.name = 'state'
obj2

state
Oregon        16000.0
Utah           5000.0
Ohio          35000.0
Texas         71000.0
California        NaN
Name: population, dtype: float64

In [233]:
obj2.reindex(['Utah', 'Ohio',  'Oregon', 'Texas', 'NewYork','California'], fill_value=0)
obj2

state
Oregon        16000.0
Utah           5000.0
Ohio          35000.0
Texas         71000.0
California        NaN
Name: population, dtype: float64

In [234]:
obj2.isnull()

state
Oregon        False
Utah          False
Ohio          False
Texas         False
California     True
Name: population, dtype: bool

In [235]:
obj1+obj2

state
California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah           10000.0
Name: population, dtype: float64

In [236]:
dates = pd.date_range(start='1/1/2017', periods=5)
dates

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05'],
              dtype='datetime64[ns]', freq='D')

In [237]:
ts = pd.Series(np.arange(5), index=dates)
ts

2017-01-01    0
2017-01-02    1
2017-01-03    2
2017-01-04    3
2017-01-05    4
Freq: D, dtype: int64

In [238]:
values = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
             'vol': [2000, 2001, 2002, 2001, 2002],
             'pop':  [1.5,  1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(values, columns =['vol', 'state', 'pop','debt'],
                    index =dates)  
df.index.name = 'date'; df.columns.name='attr'
df

attr         vol   state  pop debt
date
2017-01-01  2000    Ohio  1.5  NaN
2017-01-02  2001    Ohio  1.7  NaN
2017-01-03  2002    Ohio  3.6  NaN
2017-01-04  2001  Nevada  2.4  NaN
2017-01-05  2002  Nevada  2.9  NaN

In [239]:
df.index

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05'],
              dtype='datetime64[ns]', name='date', freq='D')

In [240]:
df.columns

Index(['vol', 'state', 'pop', 'debt'], dtype='object', name='attr')

In [241]:
df.values

array([[2000, 'Ohio', 1.5, nan],
       [2001, 'Ohio', 1.7, nan],
       [2002, 'Ohio', 3.6, nan],
       [2001, 'Nevada', 2.4, nan],
       [2002, 'Nevada', 2.9, nan]], dtype=object)

In [242]:
df['state']

date
2017-01-01      Ohio
2017-01-02      Ohio
2017-01-03      Ohio
2017-01-04    Nevada
2017-01-05    Nevada
Freq: D, Name: state, dtype: object

In [243]:
df.ix['2017-01-02']

attr
vol      2001
state    Ohio
pop       1.7
debt      NaN
Name: 2017-01-02 00:00:00, dtype: object

In [244]:
df.debt = np.arange(5.)
df

attr         vol   state  pop  debt
date
2017-01-01  2000    Ohio  1.5   0.0
2017-01-02  2001    Ohio  1.7   1.0
2017-01-03  2002    Ohio  3.6   2.0
2017-01-04  2001  Nevada  2.4   3.0
2017-01-05  2002  Nevada  2.9   4.0

In [245]:
val = pd.Series([-1.2, 1.6, 1.7, 3.6, 8.2], index=dates)
df.debt = val
df

attr         vol   state  pop  debt
date
2017-01-01  2000    Ohio  1.5  -1.2
2017-01-02  2001    Ohio  1.7   1.6
2017-01-03  2002    Ohio  3.6   1.7
2017-01-04  2001  Nevada  2.4   3.6
2017-01-05  2002  Nevada  2.9   8.2

In [246]:
df.to_csv('df.csv')

In [247]:
df.to_json('df.json')

In [248]:
import sqlite3 as lite
from pandas.io import sql
from sqlalchemy import create_engine

DB_FILE_PATH = "/home/zhxu/PythonProjects/Web/django/web/database/"
DB_FILE_NAME = "db.sqlite3"
TABEL_NAME = 'df'
TABEL1_NAME = 'Securities'
TABLE2_NAME = 'TransactionData_Day'

In [249]:
# Create your engine.
engine = create_engine('sqlite:///'+DB_FILE_PATH+DB_FILE_NAME)
engine

Engine(sqlite:////home/zhxu/PythonProjects/Web/django/web/database/db.sqlite3)

In [250]:
df.to_sql('df', engine, if_exists='replace')

In [252]:
with engine.connect() as conn, conn.begin():
    #读取整张表
    data = pd.read_sql_table('df', conn)
data

        date   vol   state  pop  debt
0 2017-01-01  2000    Ohio  1.5  -1.2
1 2017-01-02  2001    Ohio  1.7   1.6
2 2017-01-03  2002    Ohio  3.6   1.7
3 2017-01-04  2001  Nevada  2.4   3.6
4 2017-01-05  2002  Nevada  2.9   8.2